- model_class = Card

- if user_signed_in?
  .clearfix
    = link_to new_card_path, :class => 'btn btn-primary pull-right',
      data: { toggle: "tooltip",  placement: 'bottom' },
      "title" => "Add a new card" do
      %span.fa.fa-plus
      = t('.new', :default => t("helpers.links.new"))
  %br/

.row.pullUp
  - @cards.each do |card|
    .col-md-6.col-sm-6.col-xs-12
      = render :partial => "card", :locals => { card: card }
